<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <listener>
        <listener-class>com.example.demo.listener.DemoListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>demoServlet</servlet-name>
        <servlet-class>com.example.demo.servlet.DemoXmlServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>demoServlet</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.error_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.error_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.hello_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.hello_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.index_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.index_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.editEmployee_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.editEmployee_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.error_jsp</servlet-name>
        <url-pattern>/jsp/error.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.hello_jsp</servlet-name>
        <url-pattern>/jsp/hello.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.index_jsp</servlet-name>
        <url-pattern>/jsp/index.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.editEmployee_jsp</servlet-name>
        <url-pattern>/jsp/editEmployee.jsp</url-pattern>
    </servlet-mapping>
</web-app>